<div ng-include="'templates/_header.html'"></div>

<main class="container">
	<div class="row">
		<h2>Envie seus dados para Assinar o Plano escolhido</h2>

		<form id="form" class="form">
			<div class="form__input">
				<input type="text" class="nome" name="nome" placeholder="Nome">
			</div>

			<div class="form__input">
				<input type="email" class="email" name="email" placeholder="E-mail">
			</div>

			<div class="form__input">
				<input type="text" class="nascimento" name="nascimento" placeholder="Nascimento">
			</div>

			<div class="form__input">
				<input type="text" class="cpf" name="cpf" placeholder="CPF">
			</div>

			<div class="form__input">
				<input type="text" class="telefone" name="telefone" placeholder="Telefone">
			</div>

			<input type="submit" class="form__enviar" value="Enviar">
		</form>
	</div>
</main>